<div class="library">
  <h4 class="library__title">{{item.name}}</h4>
  <div class="library__description">
    <span class="library__address">Address: {{item.address}}</span>
    <span class="library__phone">Phone: {{item.phone}}</span>
  </div>
  <div class="library__manage">
    {{yield}}
  </div>
</div>