.nav-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;

  &__logo {
    padding: 2rem;
  }

  &__brand {
    color: grey;
    text-decoration: none;
    font-size: 2rem;

    &:hover {
      color: #fff;
    }
  }

  &__main {
    width: 100rem;
    align-self: stretch;
  }

  &__list {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    align-self: stretch;
    padding: 2.5rem;
    & > a {
      color: grey;
      text-decoration: none;
      font-size: 1.5rem;

      &:hover {
        color: #fff;
      }
    }

    &--selected {
      background-color: black;
    }

    &--divide {
      margin-right: auto;
    }

    &--dropdown {
      position: relative;
    }
  }

  &__drop-arrow {
    font-size: 1.2rem;
  }

  &__dropdown {
    position: absolute;
    list-style: none;
    border: 1px solid #333;
    background-color: #fff;
    padding: 1rem 2rem;
    top: 5rem;
    border-radius: 5px;
    line-height: 1.8;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
  }

  &__dropdown-item {
    a {
      text-decoration: none;
      color: #333;
      font-size: 1.2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__list-item--dropdown:hover &__dropdown {
    visibility: visible;
    opacity: 1;
  }
}
