<section class="invitation">
  <h2 class="invitation__title">Invitation</h2>
  <br>
  <br>
  <table class="invitation__table">
    <thead>
      <th>ID</th>
      <th>E-mail</th>
    </thead>
    <tbody>
      <tr>
        <td>1234567</td>
        <td>jayachandranjg@gmail.com</td>
      </tr>
      <tr>
        <td>1234567</td>
        <td>jayachandranjg@gmail.com</td>
      </tr>
      <tr>
        <td>1234567</td>
        <td>jayachandranjg@gmail.com</td>
      </tr>
      <tr>
        <td>1234567</td>
        <td>jayachandranjg@gmail.com</td>
      </tr>
    </tbody>
  </table>
</section>