<section class="invitation">
  <h2 class="invitation__title">Invitation</h2>
  <br>
  <br>
  <table class="invitation__table">
    <thead>
      <th>ID</th>
      <th>E-mail</th>
      <th>Operation</th>
    </thead>
    <tbody>
      {{#each model as |invitation|}}
        <tr>
          <td>{{invitation.id}}</td>
          <td>{{invitation.email}}</td>
          <td><button class="admin-contacts__delete-btn" {{action "deleteInvitation" invitation}}>Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>