<div class="libraries__list">
  <h3 class="libraries__list-title">
    List
  </h3>
  <br>
  <br>
  <div class="libraries__library-collection">
    <div class="library">
      <h4 class="library__title">Stephen King Collections</h4>
      <div class="library__description">
        <span class="library__address">Address: 1408 Castle Rock Drive</span>
        <span class="library__phone">Phone: 123456</span>
      </div>
    </div>
  </div>
</div>