<div class="libraries__list">
  <h3 class="libraries__list-title">
    List
  </h3>
  <br>
  <br>
  <div class="libraries__library-collection">
    {{#each model as |library|}}
      {{#library-item item=library}}
        {{#link-to "libraries.edit" library.id class="library__edit-btn" tagName="button"}}Edit{{/link-to}}
        <button class="library__delete-btn" {{action "deleteLibrary" library}}>Delete</button>
      {{/library-item}}
    {{/each}}
  </div>
</div>